/* SelectComparisons.css */
.select-comparisons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.return-stream-accordions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.add-button {
  background-color: seafoamgreen;
}

.submit-button {
  background-color: primary;
}