.clear-button {
  margin-top: 16px;
  background-color: seafoamgreen;
  color: white;
  font-family: Arial, sans-serif;
  text-transform: none; /* Prevents all caps */
}

.clear-button:hover {
  background-color: darkgreen;
}